<div class="form-container">
    <form [formGroup]="verifyPasswordForm" autocomplete="off" (submit)="verifyPassword()">
      <div class="form-header">
        <h1>Verify password</h1>
      </div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Code </mat-label>
        <input matInput formControlName="code" type="text">
        <mat-error *ngIf="code.touched && code.invalid">
          <span *ngIf="code.errors.required">This field is required.</span>
        </mat-error>
      </mat-form-field>
      <div class="form-footer">
        <button mat-raised-button color="warn" class="form-submit" type="submit">Send code</button>
      </div>
    </form>
  </div>