<div class="form-container">
  <div class="form-header">
    <h1>Enter new password</h1>
  </div>
  <form [formGroup]="newPasswordForm" autocomplete="off" (submit)="newPassword()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> New password </mat-label>
      <input matInput formControlName="password" type="text">
      <mat-error *ngIf="password.touched && password.invalid">
        <span *ngIf="password.errors.required">This field is required.</span>
        <span *ngIf="password.errors.minlength">Minimum {{ password.errors.minlength.requiredLength }} characters required</span>
      </mat-error>
    </mat-form-field>
    <div class="form-footer">
      <button [disabled]="newPasswordForm.invalid" mat-raised-button color="warn" class="form-submit" type="submit">Save</button>
    </div>
  </form>
</div>